next
react
react-dom
tailwindcss
postcss
autoprefixer
zustand
axios
react-hook-form
zod
lucide-react
@radix-ui/react-dialog
@radix-ui/react-dropdown-menu
@radix-ui/react-label
@radix-ui/react-scroll-area
@radix-ui/react-tabs
@radix-ui/react-toast
classnames
clsx
framer-motion
html2pdf.js
@supabase/supabase-js