fastapi
uvicorn
python-multipart
sqlalchemy
psycopg2-binary
alembic
pydantic
pydantic-settings
python-dotenv
email-validator
langchain-google-genai
google-generativeai
pdfplumber
python-docx
PyPDF2
pgvector
gunicorn
httpx
